@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.btn{
    cursor: pointer;
    border-radius: 8px;

background: rgb(82, 195, 3);
padding: 14px 21px 14px 21px;
border: none;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 600;
line-height: 15px;
width: fit-content;
}

.btn-container{
    text-align: center;
}

#hero {
    /* position: absolute; */
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 16px; */
}

#hero .hero-content {
    width: 673px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}



#hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}


#card-box{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#card-box .container .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-box .container .info .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
opacity: 0.6;

}

#card-box .container .info .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 31px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0%;
width: 454px;
height: 84px;
margin: 11px 0px;
}

.card-container{
    margin: 31px 0px;
}

#card-box .container .card-container{
    display: flex;
    gap: 24px;
}


.card-container .card{
    width: 278px;
height: 343px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 21px;
cursor: pointer;
}

.card-container .card img{
    width: 278px;
height: 186px;
}


.card-container .card span{
    border-radius: 8px;

background: rgba(82, 195, 3, 0.15);
padding: 9px 21px 9px 21px;
margin: 16px 0px;

color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 15px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0%;
}

.card-container .card h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 26px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
}
.card-container .card p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
}

#about-us{
    width: 100%;
    height: 66vh;
    position: relative;
    margin: 30px 0;
}


#about-us .left{
    position: absolute;
    left: 0;
    z-index: 11;
    background-color: transparent;
    width: 50%;
    height: 100%;
    background-image: url(../assets/foods.png);
    background-size: cover;
    background-position: top center;
    
}


#about-us .right{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
#about-us .right h1{

    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 42px;
}
#about-us .right h2{

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.7;

}
#about-us .right p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.6;


}

#about-us .right .follow{
    width: 100%;
    box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);
padding: 20px 7px 20px 7px;
cursor: pointer;
}

#about-us .right .social{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#about-us .right .social img{
    cursor: pointer;
}

/* ---Start social info part---  */



#social{
    position: relative;
    height: 66vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    /* background-image: url(../assets/social-bg.png); */
    background: linear-gradient(rgba(255, 255, 255, 0.836), rgba(255, 255, 255, 0.836)), url(../assets/social-bg.png);
  background-size: cover;
  background-position: center;
    background-color: white;

}



#social .social-info{
    z-index: 22;
    position: absolute;
    width: 70%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
#social .social-info h1{

    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 42px;
}
#social .social-info h2{

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.7;

}
#social .social-info p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.6;


}

#social .social-info .follow{
    width: 100%;
    box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);
padding: 20px 7px 20px 7px;
cursor: pointer;
}

#social .social-info .social{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#social .social-info .social img{
    cursor: pointer;
}

